.contact {
	position: relative;
	&--wrapper {
		padding: rem-calc(20px) 0;
		background-color: $starLease-lightGrey;

		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			width: rem-calc(60px);
			top: rem-calc(-10px);
			height: rem-calc(25px);
			background-color: $starLease-lightBlue;
			transform: skewX(-15deg);
		}
		&:after {
			content: '';
			position: absolute;
			display: block;
			border-bottom: rem-calc(50px) solid $starLease-lightBlue;
			border-right: rem-calc(50px) solid transparent;
			bottom: 0;
			left: 0;
		}

		@include breakpoint(medium) {
			&:after {
				border-bottom: rem-calc(75px) solid $starLease-lightBlue;
				border-right: rem-calc(75px) solid transparent;
			}
		}
	}

	.contact__heading {
		padding-bottom: rem-calc(15px);
		display: flex;
		flex-direction: column;

		&--text {
			margin-top: 0;
		}
	}

	.contact__heading__email, .contact__heading__phone {
		display: block;

		&--link {
			display: flex;
			padding: rem-calc(10px) 0;
			text-decoration: none;
		}

		&--text {
			margin: 0;
			color: $starLease-purple;
			font-weight: 600;
			font-size: rem-calc(16px);
			line-height: rem-calc(16px);

		}

		&--svg {
			width: rem-calc(18px);
			height: rem-calc(18px);
		}

		&--text {
			margin: 0;
			padding-left: rem-calc(10px);
			font-weight: 600;
			font-size: rem-calc(16px);
			line-height: rem-calc(18px);
			letter-spacing: 0.3px;
			color: $starLease-lightBlue;
		}
	}

	.contact__form {
		display: flex;
		flex-wrap: wrap;
		padding-top: rem-calc(15px);

		&--wrapper {
			padding-bottom: rem-calc(80px);

			@include breakpoint(large) {
				padding-top: rem-calc(20px);
			}
		}

		&--label {
			position: relative;
			margin-bottom: rem-calc(10px);
			color: $starLease-purple;
			font-weight: 700;
			line-height: rem-calc(30px);
		}

		&--input {
			padding: rem-calc(10px);
			height: rem-calc(40px);
			font-size: rem-calc(16px);
			outline-color: $starLease-lightBlue;
			outline-width: rem-calc(2px);

			@include breakpoint(medium) {
				height: rem-calc(55px);
				outline-width: rem-calc(4px);
			}
		}

		&--submit {
			@include pinkbutton;
			display: block;
			border: none;

			@include breakpoint(medium) {
				margin: rem-calc(18px) 0 rem-calc(18px) auto;
			}
		}

		&--validation {
			padding: rem-calc(5px);
			color: $starLease-pink;
			font-size: rem-calc(14px);
		}
	}

	.contact__form__block {
		display: flex;
		padding: rem-calc(15px) 0;
		width: 100%;
		flex-direction: column;

		&:first-child {
			padding-top: 0;
		}

		@include breakpoint(medium) {
			&[class*="col-md"] {
				&:nth-child(even) {
					padding-left: rem-calc(10px);
				}
				&:nth-child(odd) {
					padding-right: rem-calc(10px);
				}
				//Detect last 2 items
				&:nth-last-child(-n+2) {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}

		&--privacy {
			display: block;

			> p {
				margin-bottom: 0;
				font-size: rem-calc(18px);

				@include breakpoint(medium) {
					margin: rem-calc(18px) 0;
				}
			}

			a {
				color: $starLease-pink;
				text-decoration: none;
			}
		}

		&--submit {
			display: block;
		}
	}
}