* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	position:relative;
	min-height: 100%;
}

body {
	margin: 0;
	font-family: 'DM Sans', sans-serif;
}

.content__wrapper {
	margin-bottom: rem-calc(270px);

	@include breakpoint(large) {
		margin-bottom: rem-calc(150px);
	}
}

ul {
	padding: 0;
	list-style: none;
}

li {

}

div {

}

a {
	color: $starLease-Grey;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
}

button {
	font-size: 16px;

	&:hover {
		opacity: 0.8;
	}
}

p {
	font-size: rem-calc(16px);
	color: $starLease-Grey;
	line-height: rem-calc(26px);

	@include breakpoint(medium) {
		font-size: rem-calc(18px);
	}
}

h1 {
	margin: 24px 0;
	font-size: rem-calc(36px);
	line-height: 38px;
	color: $starLease-purple;

	@include breakpoint(large) {
		font-size: rem-calc(54px);
		line-height: rem-calc(60px);
	}
}

h2 {
	margin-bottom: 20px;
	font-size: rem-calc(28px);
	color: $starLease-purple;
	line-height: rem-calc(30px);

	@include breakpoint(large) {
		font-size: rem-calc(34px);
		line-height: rem-calc(38px);
	}
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}