.hero {
	&--wrapper {
		padding-bottom: 40px;

		@include breakpoint(medium) {
			background-image: url("../Images/hero_image.jpg");
			background-repeat: no-repeat;
			background-size: 110%;
			background-position: 10%;
		}

		@include breakpoint(large) {
			background-position: 45%;
			background-size: cover;
		}

		@include breakpoint(large) {
			padding-bottom: 24vh;
		}
	}

	&--mobile {
		display: block;
		background-image: url("../Images/hero_image.jpg");
		background-position: 75%;
		background-repeat: no-repeat;
		background-size: 150%;
		height: 250px;

		@include breakpoint(medium) {
			display: none;
		}
	}

	.hero__heading {
		@include breakpoint(large) {
			padding-top: rem-calc(16px);
		}

		&--h1:before {
			@include breakpoint(large) {
				content: '';
				display: block;
				position: absolute;
				right: -75%;
				width: rem-calc(30px);
				height: rem-calc(15px);
				background-color: $starLease-pink;
				transform: skewX(-15deg);
			}
		}

		&--text {
			font-size: rem-calc(18px);
			line-height: rem-calc(30px);
			max-width: 90%;

			&:before {
				@include breakpoint(large) {
					content: '';
					display: block;
					position: absolute;
					left: -7%;
					width: rem-calc(30px);
					height: rem-calc(15px);
					background-color: $starLease-lightBlue;
					transform: skewX(15deg);
				}
			}
		}

		&--button {
			@include pinkbutton;
		}
	}

	.hero__details {
		display: flex;
		margin-bottom: rem-calc(40px);
		background-color: $starLease-purple;

		@include breakpoint(large) {
			margin-bottom: rem-calc(120px);

			&--list {
				margin: rem-calc(40px) 0;
				display: flex;
				justify-content: space-around;
			}
		}

		&--item {
			position: relative;
			margin-bottom: rem-calc(10px);
			padding-left: rem-calc(50px);
			color: $starLease-white;
			font-weight: 700;
			line-height: rem-calc(30px);

			@include breakpoint(large) {
				margin-bottom: 0;
				line-height: rem-calc(40px);
			}

			&:last-child {
				margin-bottom: 0;
			}

			&:before {
				content: '';
				position: absolute;
				left: 0;
				width: rem-calc(30px);
				height: rem-calc(30px);
				background-color: white;
				border-radius: 50%;

				@include breakpoint(large) {
					width: rem-calc(40px);
					height: rem-calc(40px);
				}
			}

			&:after {
				content: '';
				display: block;
				width: rem-calc(8px);
				height: rem-calc(13px);
				border: solid #29b282;
				border-width: 0 rem-calc(3px) rem-calc(3px) 0;
				position: absolute;
				left: rem-calc(12px);
				top: rem-calc(7px);
				transform: rotate(45deg);

				@include breakpoint(large) {
					width: rem-calc(10px);
					height: rem-calc(17px);
					border-width: 0 rem-calc(4px) rem-calc(4px) 0;
					left: rem-calc(15px);
					top: rem-calc(9px);
				}
			}
		}
	}
}
