.ideal-car {
	&--wrapper {
		padding: rem-calc(40px) 0 rem-calc(40px);

		@include breakpoint(large) {
			padding: rem-calc(80px) 0 rem-calc(80px);
		}
	}

	.ideal-car__information {
		padding-bottom: rem-calc(20px);

		&--specsheet {
			display: inline-block;
			position: relative;
			margin: rem-calc(16px) 0;
			color: $starLease-pink;
			text-decoration: none;
			font-weight: 600;

			&:before {
				content: '';
				position: absolute;
				display: inline-block;
				width: rem-calc(12px);
				background-color: $starLease-pink;
				height: rem-calc(2px);
				right: rem-calc(-25px);
				top: rem-calc(8px);
			}
			&:after {
				content: '';
				position: absolute;
				display: inline-block;
				width: rem-calc(12px);
				background-color: $starLease-pink;
				height: rem-calc(2px);
				right: rem-calc(-25px);
				top: rem-calc(8px);
				transform: rotate(90deg);
			}
		}
	}

	.ideal-car__table {
		position: relative;
		display: inline-block;
		margin: rem-calc(16px) 0;
		width: 100%;

		tbody {
			display: inline-flex;
			flex-direction: column;
			width: 100%;
		}

		&--row {
			padding: rem-calc(16px) 0;

			&:first-child {
				padding: 0 0 rem-calc(16px) 0;
			}

			&:last-child {
				padding: rem-calc(16px) 0 0 0;
			}

			td {
				color: $starLease-purple;
			}

			td:first-child {
				display: inline-block;
				width: 40%;
				font-weight: 600;

				&:before {
					content: '';
					margin-right: rem-calc(20px);
					width: rem-calc(8px);
					height: rem-calc(8px);
					background-color: $starLease-green;
					border-radius: 50%;
					display: inline-table;
					position: relative;
					bottom: rem-calc(8px);
				}
			}

			td:last-child {
				display: inline;
				width: 60%
			}
		}
	}

	.ideal-car__portrait {
		padding: rem-calc(20px) 0;

		&--border {
			position: relative;
		}

		&--image {
			width: 100%;
		}
	}
}